.inputboxes{
  padding: 20px 20px;
  margin-bottom: 35px;
  background-color:wheat;
}
.inputboxes{
  display: flex;
  justify-content: flex-start;
}
.inputbox{
  flex-basis: 35%;
}
.inputbox>input{
  font-size:20px;
}
.inputboxes button{
  margin-left: auto;
  background-color:darkolivegreen;
  color:honeydew;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding: 5px 5px;
}

.inputbox{
  display: flex;
  
}
.inputbox>.text{
  padding: 5px 10px;
  font-size: 20px; 
  font-weight: bold;
}
.inputbox>input{
  border-radius: 10px;
  border:none;
  background-color:honeydew;
}

.card-box{
  padding:20px 0px;
  margin: 20px 0px;
}
.cards{
  display:flex;
  flex-flow: row wrap;
}
.box-title{
  font-size: 40px;
}
.card{
  flex-basis:25%;
  padding: 30px 20px;
  margin: 20px 20px;
  background-color:lightcoral;
  border-radius: 5px;
}
.card>.todo-title{
  font-size: 30px;
  font-weight: bold;
  padding: 10px 10px;
}
.card>.todo-content{
  font-size: 20px;
  padding: 10px 10px;
}
.buttons{
  display:flex;
  padding: 3px 10px;
  margin-top: 10px;
}
.buttons>button{
  padding: 7px 7px;
  font-size: 20px;
  border:none;
  background-color: honeydew;
  border-radius: 6px;
}
.buttons>.delete{
  
}
.buttons>.complete-toggle{
  margin:0px 10px;
}